<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="/"><h3>Login</h3></a>
      </li>
      <li class="nav-item">
        <a href="/user"><h3>User</h3></a>
      </li>
      <li class="nav-item nav-current">
        <a href="/cart"><h3>Cart</h3></a>
      </li>
      <li class="nav-item">
        <a href="/location"><h3>Location</h3></a>
      </li>
    </ul>
    <% if(error) { %> <%= error %> <% } %>
    <div class="grid-container">
      <div class="grid-item grid-item1">
        <form action="/cart" method="get">
          <label for="userId">UserId (4 digits)</label>
          <input type="number" name="userId" />
          <br />
          <button type="submit">Create New Cart</button>
        </form>
      </div>
      <div class="addToCart grid-item">
        <form action="/addItem" method="get">
          <label for="cartId">Your Cart Id</label>
          <input type="number" name="cartId" />
          <br />
          <label for="item">Product Name</label>
          <input type="text" name="item" />
          <br />
          <label for="cost">Cost</label>
          <input type="text" inputmode="decimal" name="cost" />
          <button type="submit">Add to Cart</button>
        </form>
      </div>
      <div class="getCart grid-item">
        <form action="/getCart" method="get">
          <label for="cartId">Your Cart Id</label>
          <input type="number" name="cartId" />
          <br />
          <button type="submit">Get My Cart</button>
        </form>
      </div>
      <div class="chat grid-item">
        <% if(result != null) { %>
        <b><u>Smart Retail says... </u></b>
        <p><%= result %> <% } %></p>
      </div>
    </div>
    <script></script>
  </body>
</html>
