<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="/"><h3>Login</h3></a>
      </li>
      <li class="nav-item">
        <a href="/user"><h3>User</h3></a>
      </li>
      <li class="nav-item">
        <a href="/cart"><h3>Cart</h3></a>
      </li>
      <li class="nav-item nav-current">
        <a href="/location"><h3>Location</h3></a>
      </li>
    </ul>
    <% if(error) { %> <%= error %> <% } %>
    <div class="grid-container">
      <div class="grid-item grid-item1">
        <form action="/location" method="get">
          <label for="userId">UserId (4 digits)</label>
          <input type="number" name="userId" />
          <br />
          <button type="submit">Find My Location</button>
        </form>
      </div>
      <div class="chat grid-item">
        <% if(result != null) { %>
        <b><u>Smart Retail says... </u></b>
        <p><%= result %> <% } %></p>
        <center style="margin-top: 10px;">
          <img src = "/images/store-map.png" style="max-width:100%;"/>
        </center> 
      </div>
    </div>
  </body>
</html>
