<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="/"><h3>Login</h3></a>
      </li>
      <li class="nav-item nav-current">
        <a href="/user"><h3>User</h3></a>
      </li>
      <li class="nav-item">
        <a href="/cart"><h3>Cart</h3></a>
      </li>
      <li class="nav-item">
        <a href="/location"><h3>Location</h3></a>
      </li>
    </ul>

    <% if(error) { %> <%= error %> <% } %>
    <div class="grid-container">
      <div class="grid-item grid-item1">
        <form action="/user" method="get">
          <label for="userId">UserId (4 digits)</label>
          <input type="number" name="userId" />
          <br />
          <button type="submit">Retrieve User Details</button>
        </form>
      </div>

      <div class="cart">
        <ul>
          <li>Washing powder</li>
          <li>Toothpaste</li>
          <li>Magazine</li>
          <li>Corn flakes</li>
          <li>Water</li>
          <li>Milk</li>
          <li>Bread</li>
          <li>Butter</li>
        </ul>
      </div>
      <div class="chat grid-item">
        <% if(result != null) { %>
        <b><u>Smart Retail says... </u></b>
        <p><%= result %> <% } %></p>
      </div>
    </div>
    <script></script>
  </body>
</html>
